# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ClassLibrary3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Information Technology\JetBrains Rider Code\ClassLibrary3\.idea\.idea.ClassLibrary3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
